<form name="ingredient">
    <div>
        <label for="name">Nome</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="categoty">Categoria</label>
        <select name="category"></select>
    </div>

    <input type="submit" value="Salvar">
</form>

<script type="text/javascript" src="/javascripts/ingredient.js"></script>