<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p id="error-alert"></p>

    {{{body}}}

    <script src="/javascripts/http.js"></script>
  </body>
</html>
