<form name="new-recipe">
    <div>
        <label for="title">Nome</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="ingredients">Ingredientes</label>
        <select name="ingredients"></select>

        <label for="ingredients-qtd">Quantidade</label>
        <input type="number" name="ingredients-qtd">

        <select name="ingredients-units">
            <option value="Kg">Kg</option>
            <option value="g">g</option>
            <option value="L">L</option>
            <option value="Ml">Ml</option>
        </select>
        <button id="add-ingredient">Adicionar Ingrediente</button>
        <a href="/ingredient">Novo Ingrediente</a>
    </div>
    <div id="ingredients-list"></div>
    <div>
        <label for="preparation">Preparo</label>
        <textarea name="preparation" cols="30" rows="10"></textarea>
    </div>

    <input type="submit" value="Salvar">
</form>


<script src="/javascripts/recipe.js"></script>